:root {
    --primary: #fff;
  }
  
  .bn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .primary {
    background-color: #fff;
    color: #242424;
    border: 1px solid white;
  }
  
  .outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    margin-bottom: 10px;
  }
  
  .medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .large:hover,
  .medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }