* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("./images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("./images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 10%;
  left: 10%;
}

.main {
  height: 100vh;
  background-image: url("./images/img-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard > h1 {
  color: #fff;
  font-size: 100px;
  padding-top: 200px;
}

.dashboard > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 780px) {
  .dashboard > h1 {
    color: #fff;
    font-size: 60px;
    padding-top: 200px;
  }
}

.dashboard_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
